body{
    background-color: beige;
}

.header{
    text-align: center;
    border: 0;
}

.start-header{
    text-align: center;
    background-color: cadetblue;
    padding: 50

}

.start-page-buttons{
    display: flex;
    justify-content: center;
}
.start-page-buttons li{
    list-style: none;
    color: white;
    float: left;
    text-align: center;
    background-color: #000000;
    margin-right: 30px;
    width: 150px;
    line-height: 60px;
}
.start-page-buttons a{
    text-decoration: none;
    color: #FFFFFF;
    display: block;
   

}
