{% extends "base.html" %}

{% block content %}

      <h1>Lets Start! Good Luck!</h1>

      <form action="/start" method="post">
          <label for="player_one">Player 1</label>
            <select name="player_one_choice" id="player_one_choice">
              
                <option value="rock">Rock</option>
                <option value="paper">Paper</option>
                <option value="scissors">Scissors</option>
            </select>
          <br>
          <label for="player_one">Player 2</label>
            <select name="player_two_choice" id="player_two_choice">

                <option value="rock">Rock</option>
                <option value="paper">Paper</option>
                <option value="scissors">Scissors</option>
            </select>  
          <br>
            <input type="submit" value="Play">
      </form>

      <p>{{ result }} </p>

      <ul>
        <li><a href="/">Home page</a></li>
      </ul>

{% endblock %}

